.title{
    text-align: center;
    font-size:2rem;
    margin:20px 0 8px 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
}
@media only screen and (min-width: 768px) {
    .title{
        text-align: center;
        font-size:3vw;
        margin:20px 0 8px 0;
    }
}
.profile{
    position: absolute;
    top: 1vw;
    right: 3.5vw;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    width: 6vw;

}
.container{
    /*display: flex;*/
    /*flex-direction: row;*/
    max-width: 75rem;
    width: 90%;
    margin: 2rem auto;
    height: 39rem;
}
